[Unit]
Description=PowerTOP auto tune

[Service]
Type=simple
Environment="TERM=dumb"
ExecStartPre=/bin/sleep 30
ExecStart=/usr/sbin/powertop --auto-tune

[Install]
WantedBy=multi-user.target
