[Unit]
Description=undervolt
After=suspend.target sleep.target hibernate.target
# Requires=systemd-modules-load.target

[Service]
User=root
Type=oneshot
# Wait 2 minutes after boot to give you time in case of crash to disable the service
# ExecStartPre=/bin/sleep 120
ExecStart=/home/crybot/undervolt/undervolt.py -v --core -95 --cache -95 --gpu -40
TimeoutSec=0
StandardOutput=syslog

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=multi-user.target
